<nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://cdn-icons-png.flaticon.com/512/2362/2362789.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            La oreja japonesa
        </a>
    
        <div class="d-flex">
            <div>
                <p>¿Ya tienes una cuenta? inicia sesion</p>
            </div>

            <div>
            <button type="button" class="btn btn-primary">Registrarse</button>
             </div>

        </div>

    </div>
  </nav>